<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avocat Dan Utiu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>
<body>
    <!-- navbar desktop -->
    <div class="container text-center d-none d-lg-block sticky-top" id="navbar">
        <div class="row align-items-center navbar">
            <div class="col-lg-4 d-flex justify-content-between">
                <a href="./despre_noi.html">DESPRE NOI</a>
                <a href="#carouselExampleIndicators">NEWS</a>
                <a href="./pro_bono.html">PRO BONO</a>
            </div>
            <div class="col-lg-4">
                <a href="../views/index.html">
                    <img src="../public/Images/logo 1.png" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-4 d-flex justify-content-between">
                <a class="nav-link dropdown-toggle" href="./servicii.html" id="dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SERVICII</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-menu">
                    <a class="dropdown-item" href="./Servicii/avocatPenal.html">Avocat Drept Penal</a>
                    <a class="dropdown-item" href="./Servicii/avocatDivorturi.html">Avocat Divorturi Bucuresti, Avocat Partaj si Custodie Copii</a>
                    <a class="dropdown-item" href="./Servicii/executareSilita.html">Executare Silita, Bancar Leasing, Insolventa</a>
                    <a class="dropdown-item" href="./Servicii/insolventa.html">Insolventa</a>
                    <a class="dropdown-item" href="./Servicii/dreptCivil.html">Drept Civil si Comercial</a>
                    <a class="dropdown-item" href="./Servicii/dreptContraventional.html">Drept Contraventional</a>
                    <a class="dropdown-item" href="./Servicii/dreptulMuncii.html">Dreptul Muncii</a>
                    <a class="dropdown-item" href="./Servicii/licenteAutorizatii.html">Licente si Autorizatii</a>
                    <a class="dropdown-item" href="./Servicii/litigiiExecutare.html">Litigii si Executare Silita</a>
                    <a class="dropdown-item" href="./Servicii/RecuperareProprietati.html">Recuperare Creante si Proprietati</a>
                    <a class="dropdown-item" href="./Servicii/stabilireSediu.html">Stabilire Sediu Social si Virtual</a>
                </div>
                <a href="#">ONORARII</a>
                <a href="#">CONTACT</a>
            </div>
        </div>
        <hr class="full-width-hr">
    </div>
    
    <!-- navbar tableta -->
    <div class="container text-center justify-content-center d-none d-sm-block d-lg-none sticky-top" id="navbar">
        <div class="row navbar align-items-start">
            <div class="col-sm-2">
                <a href="../views/index.html">
                    <img src="../public/Images/logo_phone.png" height="70px" width="100px" id="tablet-logo">
                </a>
            </div>
            <div class="col-sm-8">
                <h1 id="h1-tablet">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="./despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="#carouselExampleIndicators">NEWS</a></ul>
                <ul><a href="./pro_bono.html">PRO BONO</a></ul>
                <ul><a href="#">SERVICII</a></ul>
                <ul><a href="#">ONORARII</a></ul>
                <ul><a href="#">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-sm-2">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <hr class="full-width-hr">
    </div>

    <!-- navbar telefon -->
    <div class="container text-center justify-content-center d-block d-sm-none sticky-top" id="navbar">
        <div class="row navbar align-items-center">
            <div class="col-3">
                <a href="../views/index.html">
                    <img src="../public/Images/logo_phone.png" class="img-fluid" id="phone-logo">
                </a>
            </div>
            <div class="col-6">
                <h1 id="h1-phone">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="./despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="#carouselExampleIndicators">NEWS</a></ul>
                <ul><a href="./pro_bono.html">PRO BONO</a></ul>
                <ul><a href="#">SERVICII</a></ul>
                <ul><a href="./onorarii.html">ONORARII</a></ul>
                <ul><a href="#">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-3 phone-ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <hr class="full-width-hr">
    </div>

    <!-- Meniu servicii/home -->
    <div class="container text-center justify-content-center">
        <div class="d-none d-lg-block cabinet-header">
            <h1>CABINET DE AVOCAT DAN UTIU</h1>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-lg-4 col-10 menu-servicii mt-3 mb-3 position-relative">
                <a href="#" class="d-block">
                    <img src="../public/Images/block-drept-penal 1.png" class="img-fluid servicii-img">
                    <div class="overlay-text">
                        <h2>AVOCAT DREPT PENAL</h2>
                        <hr>
                        <p>
                            Avocatii nostri au experienta in reprezentarea clientilor în fata tuturor instantelor de judecata
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-10 menu-servicii mt-3 mb-3 position-relative">
                <a href="#" class="d-block">
                    <img src="../public/Images/block-drept-administrativ 1.png" class="img-fluid servicii-img">
                    <div class="overlay-text">
                        <h2>DREPT CIVIL & DIVORTURI</h2>
                        <hr>
                        <p>      
                            Avocat Divorturi, Recunoastere sentinte, Avocat Partaj, Avocat custodie minori, Avocat Contestatii la executare
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-10 menu-servicii mt-3 mb-3 position-relative">
                <a href="#" class="d-block">
                    <img src="../public/Images/block-financiar-bancar 1.png" class="img-fluid servicii-img">
                    <div class="overlay-text">
                        <h2>AVOCAT EXECUTARE SILITA</h2>
                        <hr>
                        <p>      
                            Avocat insolventa, Avocat executare silita, Consultanta juridica in domeniul executarii silite
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-none d-lg-block misiunea-para mb-3">
            <p>
                Misiunea cabinetului nostru este de a identifica cele mai bune strategii juridice pentru clientii nostrii si de a le aplica in cauzele acestora in vederea obtinerii celor mai bune rezultate
            </p>
        </div>
    </div>

    <div class="container-fluid" id="home-news">
        <hr>
    </div>

    <div class="container d-flex justify-content-center align-items-center mb-3 mt-3" id="news-title">
        <h2>
            NEWS
        </h2>
    </div>

    <!-- slideshow tip carousel -->
    <div id="carouselExampleIndicators" class="carousel slide col-10 container-fluid d-flex justify-content-center align-items-center" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
          <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="../public/Images/carousel_background.png" alt="First slide" id="news-img">
            <!-- stire 1 tablet/desktop -->
            <div class="carousel-caption d-none d-md-block d-flex justify-content-center align-items-center">
                <h3 id="news-header">
                    Dezinteresul unui părinte față de copil poate fi motiv pentru obținerea
                    <br>
                    autorității părintești de către celălalt părinte
                </h3>
                <p class="justified-text" id="news-para">
                    Judecătoria Moinești a avut în vedere dezinteresul manifestat de tată față de copil, subliniat de absența implicării, dependența de jocurile online și lipsa contribuției financiare și de îngrijire. Aceste aspecte au condus la decizia de a acorda autoritatea părintească exclusiv mamei, în beneficiul interesului superior al copilului.
                    <a href="https://www.rejust.ro/juris/396dd7443" target="_blank" id="link-stire1">
                        (Hotărârea nr. 177/2024 din 16.02.2024, pronunțată de Judecătoria Moinești)
                    </a>
                </p>
                <div id="news-link">
                    <a href="./Stire/stire1.html">Citeste mai mult...</a>
                </div>
            </div>
            <!-- stire 1 mobile -->
            <div class="carousel-caption d-block d-md-none d-flex justify-content-center align-items-center">
                <h3 id="news-header">
                    Dezinteresul unui părinte față de copil poate fi motiv pentru obținerea autorității părintești de către celălalt părinte
                </h3>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../public/Images/carousel_background.png" alt="Second slide" id="news-img">
            <!-- stire 2 tablet/desktop -->
            <div class="carousel-caption d-none d-md-block">
                <h3 id="news-header">Avocat specializat în rapire internațională de copii conform Convenției de la Haga</h3>
                <p class="justified-text" id="news-para">
                    Bun venit la Cabinetul nostru de Avocatura, unde vă oferim asistență legală de înaltă calitate în cazurile de rapire internațională de copii conform Convenției de la Haga. Suntem conștienți de complexitatea și sensibilitatea acestor situații și ne angajăm să vă sprijinim în obținerea rezultatelor dorite. 
                    <br>
                    <strong>Ce este rapirea internațională de copii conform Convenției de la Haga?</strong>
                    <br>
                    Rapirea internațională de copii conform Convenției de la Haga se referă la situația în care un copil minor este luat sau reținut în mod ilegal de unul dintre părinți și dus într-o țară străină, încălcând drepturile custodiale ale celuilalt părinte
                </p>
                <div id="news-link">
                    <a href="./Stire/stire2.html">Citeste mai mult...</a>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../public/Images/carousel_background.png" alt="Third slide" id="news-img">
            <!-- stire 3 tablet/desktop -->
            <div class="carousel-caption d-none d-md-block">
                <h3 id="news-header">Efectele juridice ale unui divorţ</h3>
                <p class="justified-text" id="news-para">
                    <strong>1. Relaţiile personale dintre soţi (de exemplu numele de familie)</strong>
                    <br>
                    Obligațiile de fidelitate, de coabitare și de asistență se încheie în momentul în care hotărârea judecătorească prin care s-a pronunțat divorțul a devenit definitivă.
                    <br>
                    <strong>2. Împărţirea bunurilor soţilor</strong>
                    <br>
                    Divorțul antrenează dizolvarea regimului matrimonial și, dacă este cazul, împărțirea bunurilor.
                    <br>
                    <strong>3. Copiii minori ai soţilor</strong>
                    <br>
                    Divorțul nu implică niciun fel de consecințe specifice asupra normelor care reglementează exercitarea autorității părintești. Cu toate acestea, judecătorul poate decide să încredințeze exercitarea autorității părintești doar unuia dintre părinți dacă interesul copilului impune acest lucru.
                </p>
                <div id="news-link">
                    <a href="./Stire/stire3.html">Citeste mai mult...</a>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../public/Images/carousel_background.png" alt="Third slide" id="news-img">
            <!-- stire 4 tablet/desktop -->
            <div class="carousel-caption d-none d-md-block">
                <h3 id="news-header">Conditiile divortului in UE</h3>
                <p class="justified-text" id="news-para">
                    <strong>Care sunt condiţiile pentru obţinerea divorţului?</strong>
                    <br>
                    Există patru cazuri de divorț:
                    <br>
                    Divorțul prin consimțământ mutual, divorțul prin acceptarea în principiu a desfacerii căsătoriei sau divorțul acceptat, divorțul pentru alterarea definitivă a legăturii conjugale, divorțul din culpă.
                    <br>
                    <strong>Care sunt motivele de divorţ?</strong>
                    <br>
                    Divorțul prin consimțământ mutual, Divorțul acceptat, Divorțul cauzat de alterarea definitivă a legăturii conjugale, Divorțul din culpă
                </p>
                <div id="news-link">
                    <a href="./Stire/stire4.html">Citeste mai mult...</a>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../public/Images/carousel_background.png" alt="Third slide" id="news-img">
            <!-- stire 5 tablet/desktop -->
            <div class="carousel-caption d-none d-md-block">
                <h3 id="news-header">Divort international in Romania</h3>
                <p class="justified-text" id="news-para">
                    În cele mai multe ţări, divorţul este pronunţat de un tribunal, iar hotărârea pronunţată dizolvă căsătoria.
                    <br>
                    Atunci când cuplul are copii, divorţul presupune o nouă organizare a relaţiilor fiecăruia cu copiii comuni.
                    <br>
                    Acesta antrenează, de asemenea, partajul bunurilor deţinute în comun de soţi. Dacă este cazul, plata unei contribuţii sau a unei pensii alimentare de către un soţ către celălalt sau pentru întreţinerea copiilor.
                </p>
                <div id="news-link">
                    <a href="./Stire/stire5.html">Citeste mai mult...</a>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="../public/Images/carousel_background.png" alt="Third slide" id="news-img">
            <!-- stire 6 tablet/desktop -->
            <div class="carousel-caption d-none d-md-block">
                <h3 id="news-header">Abandon de Familie</h3>
                <p class="justified-text" id="news-para">
                    Prin <strong>Decizia nr. 4/2017</strong>, Inalta Curte a admis recursul în interesul legii formulat de procurorul general şi, în consecinţă dispune:
                    <br>
                    ”În interpretarea şi aplicarea unitară a dispoziţiilor art. 378 alin. (1) lit. c) Cod penal, stabileşte că :
                    <br>
                    Infracţiunea de abandon de familie săvârşită prin neplata, cu rea-credinţă, timp de trei luni, a pensiei de întreţinere, instituită printr-o singură hotărâre judecătorească în favoarea mai multor persoane, constituie o infracţiune unică continuă”.
                </p>
                <div id="news-link">
                    <a href="./Stire/stire6.html">Citeste mai mult...</a>
                </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- buton contact -->
    <div class="container d-flex justify-content-center align-items-center call-conta">
            <div class="col-12 d-flex justify-content-center align-items-center" id="call-button">
                <a href="tel: +40741289508">ASISTENTA JURIDICA DE URGENTA - 24/7</a>
            </div>
    </div>

    <!-- tablet/desktop footer -->
    <div class="container d-none d-md-block">
        <footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-12 d-flex justify-content-between" id="text-footer">
                <div>
                    CABINET DE AVOCAT UTIU DAN © 2024
                </div>
                <div>
                    TOATE DREPTURILE REZERVATE
                </div>
                <div>
                    DEVELOPED BY ELEVATE WEB DYNAMICS © 2024
                </div>
            </div>
    </div>

    <!-- mobile footer -->
    <div class="container d-block d-md-none">
        <footer class="d-flex align-items-center py-3 my-4 border-top">
            <div class="col-12 d-flex justify-content-center" id="text-footer">
                    CABINET DE AVOCAT UTIU DAN © 2024
            </div>


    </div>

    <script src="../public/scripts/index.js"></script>
</body>
</html>