<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>

<body>
    <!-- navbar desktop -->
    <div class="container text-center d-none d-lg-block sticky-top" id="navbar">
        <div class="row align-items-center navbar">
            <div class="col-lg-4 d-flex justify-content-between">
                <a href="./despre_noi.html">DESPRE NOI</a>
                <a href="./news.html">NEWS</a>
                <a href="./pro_bono.html">PRO BONO</a>
            </div>
            <div class="col-lg-4">
                <a href="../views/index.html">
                    <img src="../public/Images/logo 1.png" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-4 d-flex justify-content-between">
                <a class="nav-link dropdown-toggle" href="./servicii.html" id="dropdown-menu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SERVICII</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-menu">
                    <a class="dropdown-item" href="./Servicii/avocatPenal.html">Avocat Drept Penal</a>
                    <a class="dropdown-item" href="./Servicii/avocatDivorturi.html">Avocat Divorturi Bucuresti, Avocat
                        Partaj si Custodie Copii</a>
                    <a class="dropdown-item" href="./Servicii/executareSilita.html">Executare Silita, Bancar Leasing,
                        Insolventa</a>
                    <a class="dropdown-item" href="./Servicii/insolventa.html">Insolventa</a>
                    <a class="dropdown-item" href="./Servicii/dreptCivil.html">Drept Civil si Comercial</a>
                    <a class="dropdown-item" href="./Servicii/dreptContraventional.html">Drept Contraventional</a>
                    <a class="dropdown-item" href="./Servicii/dreptulMuncii.html">Dreptul Muncii</a>
                    <a class="dropdown-item" href="./Servicii/licenteAutorizatii.html">Licente si Autorizatii</a>
                    <a class="dropdown-item" href="./Servicii/litigiiExecutare.html">Litigii si Executare Silita</a>
                    <a class="dropdown-item" href="./Servicii/RecuperareProprietati.html">Recuperare Creante si
                        Proprietati</a>
                    <a class="dropdown-item" href="./Servicii/stabilireSediu.html">Stabilire Sediu Social si Virtual</a>
                </div>
                <a href="../views/onorarii.html">ONORARII</a>
                <a href="../views/contact.html">CONTACT</a>
            </div>
        </div>
    </div>

    <!-- navbar tableta -->
    <div class="container text-center justify-content-center d-none d-sm-block d-lg-none sticky-top" id="navbar">
        <div class="row navbar align-items-start">
            <div class="col-sm-2">
                <a href="../views/index.html">
                    <img src="../public/Images/logo_phone.png" height="70px" width="100px" id="tablet-logo">
                </a>
            </div>
            <div class="col-sm-8">
                <h1 id="h1-tablet">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="./despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="./news.html">NEWS</a></ul>
                <ul><a href="./pro_bono.html">PRO BONO</a></ul>
                <ul><a href="./servicii.html">SERVICII</a></ul>
                <ul><a href="../views/onorarii.html">ONORARII</a></ul>
                <ul><a href="../views/contact.html">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-sm-2">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- navbar telefon -->
    <div class="container text-center justify-content-center d-block d-sm-none sticky-top" id="navbar">
        <div class="row navbar align-items-center">
            <div class="col-3">
                <a href="../views/index.html">
                    <img src="../public/Images/logo_phone.png" class="img-fluid" id="phone-logo">
                </a>
            </div>
            <div class="col-6">
                <h1 id="h1-phone">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="./despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="./news.html">NEWS</a></ul>
                <ul><a href="./pro_bono.html">PRO BONO</a></ul>
                <ul class="servicii-menu">
                    <a href="#" class="servicii-link">SERVICII</a>
                    <div class="servicii-sub-menu hidden">
                        <a class="dropdown-item" href="./Servicii/avocatPenal.html">Avocat Drept Penal</a>
                        <a class="dropdown-item scrolling" href="./Servicii/avocatDivorturi.html">Avocat Divorturi
                            Bucuresti, Avocat
                            Partaj si Custodie Copii</a>
                        <a class="dropdown-item scrolling" href="./Servicii/executareSilita.html">Executare Silita,
                            Bancar Leasing,
                            Insolventa</a>
                        <a class="dropdown-item" href="./Servicii/insolventa.html">Insolventa</a>
                        <a class="dropdown-item" href="./Servicii/dreptCivil.html">Drept Civil si Comercial</a>
                        <a class="dropdown-item" href="./Servicii/dreptContraventional.html">Drept Contraventional</a>
                        <a class="dropdown-item" href="./Servicii/dreptulMuncii.html">Dreptul Muncii</a>
                        <a class="dropdown-item" href="./Servicii/licenteAutorizatii.html">Licente si Autorizatii</a>
                        <a class="dropdown-item" href="./Servicii/litigiiExecutare.html">Litigii si Executare Silita</a>
                        <a class="dropdown-item scrolling" href="./Servicii/RecuperareProprietati.html">Recuperare
                            Creante si
                            Proprietati</a>
                        <a class="dropdown-item scrolling" href="./Servicii/stabilireSediu.html">Stabilire Sediu Social
                            si Virtual</a>
                    </div>
                </ul>
                <ul><a href="./onorarii.html">ONORARII</a></ul>
                <ul><a href="./contact.html">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-3 phone-ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- stiri/main content -->
    <div class="container">
        <!-- stire 1 -->
        <div class="row mt-5 mb-5">
            <a href="./Stire/stire1.html" class="mb-1">
                <h3 class="fs-4">
                    DEZINTERESUL UNUI PARINTE FATA DE COPIL POATE FI MOTIV PENTRU OBTINEREA AUTORITATII PARINTESTI DE
                    CATRE
                    CELALALT PARINTE
                </h3>
            </a>
            <div class="rounded mb-3" id="servicii-line"></div>
            <p class="fs-5">
                Judecătoria Moinești a avut în vedere dezinteresul manifestat de tată față de copil, subliniat de
                absența
                implicării, dependența de jocurile online și lipsa contribuției financiare și de îngrijire. Aceste
                aspecte
                au condus la decizia de a acorda autoritatea părintească exclusiv mamei, în beneficiul interesului
                superior
                al copilului. (Hotărârea nr. 177/2024 din 16.02.2024, pronunțată de Judecătoria Moinești)
            </p>
            <p class="fs-5">
                Autoritate parinteasca custodie exclusiva
            </p>
        </div>
        <!-- stire 2 -->
        <div class="row mb-5">
            <a href="./Stire/stire2.html" class="mb-1">
                <h3 class="fs-4">
                    AVOCAT SPECIALIZAT IN RAPIRE INTERNATIONALA DE COPII CONFORM CONVENTIEI DE LA HAGA
                </h3>
            </a>
            <div class="rounded mb-3" id="servicii-line"></div>
            <p class="fs-5">
                Bun venit la Cabinetul nostru de Avocatura, unde vă oferim asistență legală de înaltă calitate în
                cazurile
                de rapire internațională de copii conform Convenției de la Haga. Suntem conștienți de complexitatea și
                sensibilitatea acestor situații și ne angajăm să vă sprijinim în obținerea rezultatelor dorite.
                <br>
                <br>
                Ce este rapirea internațională de copii conform Convenției de la Haga?
                <br>
                <br>
                Rapirea internațională de copii conform Convenției de la Haga se referă la situația în care un copil
                minor
                este luat sau reținut în mod ilegal de unul dintre părinți și dus într-o țară străină, încălcând
                drepturile
                custodiale ale celuilalt părinte
                <br>
                <br>
                Serviciile noastre
                <br>
                <br>
                Prezentăm gama noastră completă de servicii juridice pentru părinții implicați în cazuri de rapire
                internațională de copii. Subliniem competențele și experiența avocaților noștri în acest domeniu,
                evidențiind abordarea noastră atentă și personalizată.
            </p>
            <ul class="fs-5 mt-2 mb-2">
                <li class="mb-2 ms-3">Consultanță și evaluare a cazului: Vă oferim o evaluare detaliată a situației
                    dumneavoastră și vă
                    ghidăm în luarea deciziilor potrivite pentru protejarea drepturilor și intereselor copilului
                    dumneavoastră.</li>
                <li class="mb-2 ms-3">Mediere și negocieri. Lucrăm pentru a obține soluții amiabile și înțelegeri
                    consensuale în cazurile
                    de rapire internațională de copii.</li>
                <li class="ms-3">Reprezentare în instanță: Dacă este necesar, vă oferim reprezentare legală puternică în
                    instanță,
                    susținându-vă interesele și pledând pentru returnarea copilului în conformitate cu prevederile
                    Convenției de la Haga.</li>
            </ul>
            <p class="fs-5 mt-2">Subliniem importanța colaborării strânse între avocați și clienți. Oferim informații
                despre cum puteți
                intra în contact cu noi pentru a discuta despre situația dumneavoastră specifică. Promovăm o comunicare
                deschisă și transparentă și ne angajăm să vă oferim sprijinul necesar pe parcursul întregului proces.
            </p>
        </div>
        <!-- stire 3 -->
        <div class="row mb-5">
            <a href="./Stire/stire3.html" class="mb-1">
                <h3 class="fs-4">
                    EFECTELE JURIDICE ALE UNUI DIVORT IN CEEA CE PRIVESTE
                </h3>
            </a>
            <div class="rounded mb-3" id="servicii-line"></div>
            <h3 class="mt-2 pb-2 fs-4 border-bottom">1. Relatiile personale dintre soti (de exemplu numele de familie)
            </h3>
            <p class="fs-5 ms-3">
                Obligațiile de fidelitate, de coabitare și de asistență se încheie în momentul în care hotărârea
                judecătorească prin care s-a pronunțat divorțul a devenit definitivă.
            </p>
            <p class="fs-5 ms-3">
                Fiecare dintre soți recapătă libertatea de a încheia o nouă căsătorie.
            </p>
            <p class="fs-5 ms-3">
                Ca urmare a divorțului, fiecare dintre soți își pierde dreptul de a utiliza numele soțului său. Cu toate
                acestea, unul dintre soți poate păstra numele de familie al celuilalt soț, fie cu acordul acestuia, fie
                cu
                permisiunea instanței, dacă demonstrează că păstrarea numelui prezintă un anumit interes pentru el
                însuși
                sau pentru copii.
            </p>
            <h3 class="mt-2 pb-2 fs-4 border-bottom">2. Impartirea bunurilor sotilor
            </h3>
            <p class="fs-5 ms-3">
                Divorțul antrenează dizolvarea regimului matrimonial și, dacă este cazul, împărțirea bunurilor.
            </p>
            <p class="fs-5 ms-3">
                Divorțul nu afectează avantajele matrimoniale care intră în vigoare în timpul căsătoriei, nici donațiile
                de bunuri prezente. În schimb, acesta conduce la revocarea de plin drept a avantajelor matrimoniale care
                intră în vigoare la dizolvarea regimului matrimonial, la decesul unuia dintre soți sau a dispozițiilor
                pentru cauză de moarte.
            </p>
            <p class="fs-5 ms-3">
                În cazul divorțului prin consimțământ mutual, acordul soților cu privire la lichidarea intereselor lor
                pecuniare condiționează pronunțarea divorțului. În celelalte forme de divorț, soții pot conveni asupra
                lichidării înainte de pronunțarea divorțului. În acest caz, lichidarea se efectuează ulterior.
            </p>
            <h3 class="mt-2 pb-2 fs-4 border-bottom">3. Copiii minori ai sotilor
            </h3>
            <p class="fs-5 ms-3">
                Divorțul nu implică niciun fel de consecințe specifice asupra normelor care reglementează exercitarea
                autorității părintești. Cu toate acestea, judecătorul poate decide să încredințeze exercitarea
                autorității părintești doar unuia dintre părinți dacă interesul copilului impune acest lucru.
            </p>
            <p class="fs-5 ms-3">
                Fiecare dintre părinți trebuie să continue să contribuie la întreținerea și educarea copilului. Această
                contribuție se manifestă sub forma unei pensii de întreținere plătite de către unul dintre părinți
                celuilalt. este posibil, de asemenea, să ia, în totalitate sau parțial, forma unei acoperiri directe a
                cheltuielilor efectuate în beneficiul copilului. În sfârșit, contribuția poate fi plătită sub forma unui
                drept de utilizare și locativ.
            </p>
        </div>
        <!-- stire 4 -->
        <div class="row mb-5">
            <a href="./Stire/stire4.html" class="mb-1">
                <h3 class="fs-4">
                    CONDITIILE DIVORTULUI IN UE
                </h3>
            </a>
            <div class="rounded mb-3" id="servicii-line"></div>
            <h3 class="mt-2 pb-2 fs-4 border-bottom">Care sunt conditiile pentru obtinerea divortului?
            </h3>
            <p class="fs-5 ms-3">
                Exista patru cazuri de divort:
            <ul class="fs-5 ms-3">
                <li>divorțul prin consimțământ mutual</li>
                <li>divorțul prin acceptarea în principiu a desfacerii căsătoriei sau divorțul acceptat</li>
                <li>divorțul pentru alterarea definitivă a legăturii conjugale</li>
                <li>divorțul din culpă</li>
            </ul>
            </p>
            <h3 class="mt-2 pb-2 fs-4 border-bottom">Care sunt motivele de divort?
            </h3>
            <p class="fs-5 ms-3">
                Divorțul prin consimțământ mutual poate fi solicitat de soți atunci când aceștia se înțeleg cu privire
                la
                desfacerea căsătoriei. În acest caz, soții nu au obligația de a face cunoscută cauza divorțului, dar
                trebuie
                să prezinte judecătorului spre aprobare un proiect de acord care reglementează consecințele divorțului.
                Aprobarea este refuzată de judecător numai în cazurile în care interesele copiilor sau ale unuia dintre
                soți
                nu sunt protejate suficient. Documentele pot fi redactate de avocat (in cazul cetatenilor romani cu
                resedinta in strainatate – de avocat din Bucuresti). Prezenta sotilor la instanta nu este obligatorie,
                daca
                sunt reprezentati de avocat specializat.
            </p>
            <p class="fs-5 ms-3">
                Divorțul acceptat poate fi solicitat de către unul dintre soți și acceptat de celălalt soț. Poate fi
                solicitat si de ambii soți. Spre deosebire de divorțul prin consimțământ mutual, soții acceptă divorțul,
                dar nu reușesc să convină asupra consecințelor acestuia. Instanței îi revine, așadar, sarcina de a le
                soluționa cererea. In cazul in care resedinta este in strainatate, sotul poate fi reprezentat prin
                avocat.
            </p>
            <p class="fs-5 ms-3">
                Divorțul cauzat de alterarea definitivă a legăturii conjugale poate fi solicitat de către unul dintre
                soți. In unele cazuri numai dupa încetării vieții comune de doi ani la data introducerii acțiunii de
                divorț, ceea ce implică o lipsă a coabitării și o dorință de separare. De aceea, sotii cetateni romani,
                pot solicita ca divortul sa se pronunte in tara de cetatenie, pentru a evita trecerea a doi ani de
                despartire in fapt. In Romania, nu exista conditia obligatorie a despartirii in fapt, de minim doi ani.
            </p>
            <p class="fs-5 ms-3">
                Divorțul din culpă poate fi solicitat de către unul dintre soți pentru fapte imputabile celuilalt soț,
                atunci când faptele respective constituie o încălcare gravă sau repetată a îndatoririlor și obligațiilor
                care decurg din căsătorie și fac imposibilă continuarea vieții comune.
            </p>
        </div>
        <!-- stire 5 -->
        <div class="row mb-5">
            <a href="./Stire/stire5.html" class="mb-1">
                <h3 class="fs-4">
                    DIVORT INTERNATIONAL IN ROMANIA
                </h3>
            </a>
            <div class="rounded mb-3" id="servicii-line"></div>
            <p class="fs-5">
                În cele mai multe ţări, divorţul este pronunţat de un tribunal, iar hotărârea pronunţată dizolvă
                căsătoria.
            </p>
            <p class="fs-5">
                Atunci când cuplul are copii, divorţul presupune o nouă organizare a relaţiilor fiecăruia cu copiii
                comuni.
            </p>
            <p class="fs-5">
                Acesta antrenează, de asemenea, partajul bunurilor deţinute în comun de soţi. Dacă este cazul, plata
                unei contribuţii sau a unei pensii alimentare de către un soţ către celălalt sau pentru întreţinerea
                copiilor.
            </p>
            <p class="fs-5">
                În Uniunea Europeană, normele permit stabilirea instanţei în faţa căreia trebuie înaintată cererea de
                divorţ. Aceste norme sunt utile în special pentru cuplurile formate din persoane de naţionalităţi
                diferite. Se aplica si atunci când membrii unui cuplu, de aceeasi nationalitate, au locuit în diferite
                state pe parcursul căsătoriei.
            </p>
            <p class="fs-5">
                De asemenea, normele permit ca un divorţ pronunţat într-o ţară din Uniunea Europeană să fie mai uşor
                recunoscut într-un alt stat membru.
            </p>
        </div>
        <!-- stire 6 -->
        <div class="row mb-5">
            <a href="./Stire/stire6.html" class="mb-1">
                <h3 class="fs-4">
                    ABANDON DE FAMILIE
                </h3>
            </a>
            <div class="rounded mb-3" id="servicii-line"></div>
            <p class="fs-5">
                Prin <strong>Decizia nr. 4/2017</strong>, Inalta Curte a admis recursul în interesul legii formulat de
                procurorul general
                şi, în consecinţă dispune:
            </p>
            <p class="fs-5">
                ”În interpretarea şi aplicarea unitară a dispoziţiilor art. 378 alin. (1) lit. c) Cod penal, stabileşte
                că :
            </p>
            <p class="fs-5">
                Infracţiunea de abandon de familie săvârşită prin neplata, cu rea-credinţă, timp de trei luni, a pensiei
                de întreţinere, instituită printr-o singură hotărâre judecătorească în favoarea mai multor persoane,
                constituie o infracţiune unică continuă”.
            </p>
        </div>
        <!-- stire 7 -->
        <div class="row mb-5">
            <a href="./Stire/stire7.html" class="mb-1">
                <h3 class="fs-4">
                    SUPLINIREA CONSIMTAMANTULUI MAMEI PENTRU ELIBERAREA PASAPORTULUI ELECTRONIC AL FIULUI
                </h3>
            </a>
            <div class="rounded mb-3" id="servicii-line"></div>
            <p class="fs-5">
                Instanța a admis ordonanța președințiale pentru un minor în vârstă de 14 ani. Prin reprezentant, s-a
                solicitat suplinirea consimțământul mamei pârâte la eliberarea pașaportului electronic simplu. S-a mai
                solicitat și suplinirea consimțământului mamei pentru o perioadă de 3 ani în vederea deplasării
                reclamantului în străinătate împreună cu tatăl său, în scop turistic, în timpul vacanțelor școlare, ca
                urmare a refuzului nejustificat de îngrădire a libertății de mișcare a fiului său.
            </p>
            <p class="fs-5">
                Judecatoria Sighetul Marmatiei
            </p>
        </div>
    </div>

    </div>

    <!-- WhatsApp Button -->
    <a href="https://wa.me/+407" class="btn btn-success btn-floating position-fixed bottom-0 end-0 m-5 rounded-circle"
        target="_blank" aria-label="Chat with us on WhatsApp">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" width="60"
            height="60">
    </a>

    <!-- Back to top Button -->
    <button id="backToTopBtn" title="Go to top">
        <i class="fas fa-arrow-up"></i>
    </button>

    <!-- buton contact -->
    <div class="container d-flex justify-content-center align-items-center call-conta">
        <div class="col-12 d-flex justify-content-center align-items-center" id="call-button">
            <a href="tel: #">ASISTENTA JURIDICA DE URGENTA - 24/7</a>
        </div>
    </div>

    <!-- tablet/desktop footer -->
    <div class="container d-none d-md-block">
        <footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-12 d-flex justify-content-between text-center" id="text-footer">
                <div>
                    CABINET DE AVOCAT UTIU DAN © 2024
                </div>
                <div>
                    TOATE DREPTURILE REZERVATE
                </div>
                <div>
                    <a href="http://elevatewebdynamics.com" target="_blank">
                        DEVELOPED BY ELEVATE WEB DYNAMICS © 2024
                    </a>
                </div>
            </div>
    </div>

    <!-- mobile footer -->
    <div class="container d-block d-md-none">
        <footer class="d-flex align-items-center py-3 my-4 border-top">
            <div class="col-12 d-flex justify-content-center" id="text-footer">
                CABINET DE AVOCAT UTIU DAN © 2024
            </div>
        </footer>
    </div>

    <script src="../public/scripts/index.js"></script>
</body>

</html>