<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Onorarii</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/styles/styles.css">
</head>

<body>
    <!-- navbar desktop -->
    <div class="container text-center d-none d-lg-block sticky-top" id="navbar">
        <div class="row align-items-center navbar">
            <div class="col-lg-4 d-flex justify-content-between">
                <a href="./despre_noi.html">DESPRE NOI</a>
                <a href="./news.html">NEWS</a>
                <a href="./pro_bono.html">PRO BONO</a>
            </div>
            <div class="col-lg-4">
                <a href="../views/index.html">
                    <img src="../public/Images/logo 1.png" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-4 d-flex justify-content-between">
                <a class="nav-link dropdown-toggle" href="./servicii.html" id="dropdown-menu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SERVICII</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-menu">
                    <a class="dropdown-item" href="./Servicii/avocatPenal.html">Avocat Drept Penal</a>
                    <a class="dropdown-item" href="./Servicii/avocatDivorturi.html">Avocat Divorturi Bucuresti, Avocat
                        Partaj si Custodie Copii</a>
                    <a class="dropdown-item" href="./Servicii/executareSilita.html">Executare Silita, Bancar Leasing,
                        Insolventa</a>
                    <a class="dropdown-item" href="./Servicii/insolventa.html">Insolventa</a>
                    <a class="dropdown-item" href="./Servicii/dreptCivil.html">Drept Civil si Comercial</a>
                    <a class="dropdown-item" href="./Servicii/dreptContraventional.html">Drept Contraventional</a>
                    <a class="dropdown-item" href="./Servicii/dreptulMuncii.html">Dreptul Muncii</a>
                    <a class="dropdown-item" href="./Servicii/licenteAutorizatii.html">Licente si Autorizatii</a>
                    <a class="dropdown-item" href="./Servicii/litigiiExecutare.html">Litigii si Executare Silita</a>
                    <a class="dropdown-item" href="./Servicii/RecuperareProprietati.html">Recuperare Creante si
                        Proprietati</a>
                    <a class="dropdown-item" href="./Servicii/stabilireSediu.html">Stabilire Sediu Social si Virtual</a>
                </div>
                <a href="../views/onorarii.html">ONORARII</a>
                <a href="../views/contact.html">CONTACT</a>
            </div>
        </div>
    </div>

    <!-- navbar tableta -->
    <div class="container text-center justify-content-center d-none d-sm-block d-lg-none sticky-top" id="navbar">
        <div class="row navbar align-items-start">
            <div class="col-sm-2">
                <a href="../views/index.html">
                    <img src="../public/Images/logo_phone.png" height="70px" width="100px" id="tablet-logo">
                </a>
            </div>
            <div class="col-sm-8">
                <h1 id="h1-tablet">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="./despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="./news.html">NEWS</a></ul>
                <ul><a href="./pro_bono.html">PRO BONO</a></ul>
                <ul><a href="./servicii.html">SERVICII</a></ul>
                <ul><a href="../views/onorarii.html">ONORARII</a></ul>
                <ul><a href="../views/contact.html">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-sm-2">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- navbar telefon -->
    <div class="container text-center justify-content-center d-block d-sm-none sticky-top" id="navbar">
        <div class="row navbar align-items-center">
            <div class="col-3">
                <a href="../views/index.html">
                    <img src="../public/Images/logo_phone.png" class="img-fluid" id="phone-logo">
                </a>
            </div>
            <div class="col-6">
                <h1 id="h1-phone">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="./despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="./news.html">NEWS</a></ul>
                <ul><a href="./pro_bono.html">PRO BONO</a></ul>
                <ul class="servicii-menu">
                    <a href="#" class="servicii-link">SERVICII</a>
                    <div class="servicii-sub-menu hidden">
                        <a class="dropdown-item" href="./Servicii/avocatPenal.html">Avocat Drept Penal</a>
                        <a class="dropdown-item scrolling" href="./Servicii/avocatDivorturi.html">Avocat Divorturi
                            Bucuresti, Avocat
                            Partaj si Custodie Copii</a>
                        <a class="dropdown-item scrolling" href="./Servicii/executareSilita.html">Executare Silita,
                            Bancar Leasing,
                            Insolventa</a>
                        <a class="dropdown-item" href="./Servicii/insolventa.html">Insolventa</a>
                        <a class="dropdown-item" href="./Servicii/dreptCivil.html">Drept Civil si Comercial</a>
                        <a class="dropdown-item" href="./Servicii/dreptContraventional.html">Drept Contraventional</a>
                        <a class="dropdown-item" href="./Servicii/dreptulMuncii.html">Dreptul Muncii</a>
                        <a class="dropdown-item" href="./Servicii/licenteAutorizatii.html">Licente si Autorizatii</a>
                        <a class="dropdown-item" href="./Servicii/litigiiExecutare.html">Litigii si Executare Silita</a>
                        <a class="dropdown-item scrolling" href="./Servicii/RecuperareProprietati.html">Recuperare
                            Creante si
                            Proprietati</a>
                        <a class="dropdown-item scrolling" href="./Servicii/stabilireSediu.html">Stabilire Sediu Social
                            si Virtual</a>
                    </div>
                </ul>
                <ul><a href="./onorarii.html">ONORARII</a></ul>
                <ul><a href="./contact.html">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-3 phone-ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- Meniu principal-->
    <div class="container">
        <div class="text-center justify-content-center mt-5 mb-3">
            <h1>ONORARII</h1>
        </div>
        <div class="rounded" id="servicii-line"></div>
        <div class="row mt-3 mb-0" id="despre-noi-paragraph-1">
            <p class="fs-4 justified-text">
                Onorariile percepute se vor stabili de comun acord cu dumneavoastra, urmand a fi aratate in contractul
                de asistenta juridica. In vederea solutionarii dosarului dumneavoastra, pot lua nastere si alte
                cheltuieli cum ar fi: necesitatea traducerii documentatiei, plata unor taxe, costuri aferente unor
                deplasari, etc., toate acestea vor fi agreate inca de la inceput cu clientul si vor fi introduse in
                onorariul avocatilor vor fi percepute separat ca si cheltuieli conexe/aferente serviciilor juridice.
                Scopul nostru este de a minimaliza in permanenta aceste costuri, asigurandu-va totodata de prestarea
                unor servicii juridice de inalta calitate.
            </p>
        </div>
        <div class="rounded mb-3" id="servicii-line"></div>
        <div class="row mt-0" id="despre-noi-paragraph-2">
            <p class="fs-4 justified-text">
                La stabilirea onorariilor se vor avea in vedere urmatoarele elemente:
            </p>
            <div>
                <p class="fs-4"><strong>Pentru persoane fizice,</strong> stabilirea onorariilorva fi facuta in functie
                    de:</p>
                <ul class="fs-4">
                    <li>Dificultatea, amploarea sau durata litigiului/cauzei supuse analizei</li>
                    <li>Timpul efectiv de lucru si complexitatea studiilor juridice pe care le implica executarea
                        mandatului primit sau activitatii solicitate de client</li>
                    <li>Natura si noutatea cazului</li>
                </ul>
            </div>
            <div></div>
            <p class="fs-4 justified-text"><strong>Pentru persoane juridice,</strong>
                stabilirea onorariilor pentru persoanele juridice se va face luand in consideratie, pe langa elementele
                de mai sus, posibilitatea de a dezvolta colaborarea cu dumneavoastra, de a o permanentiza sau de a
                avansa de la servicii juridicecurente, la colaborari de mare complexitate si/sau durata.
            </p>
        </div>
        <div class="rounded" id="servicii-line"></div>
        <div class="row" id="despre-noi-paragraph-3">
            <h2 class="mt-3 fs-3 mb-3 shadow-sm">TIPURI DE ONORARII</h2>
            <div>
                <p class="fs-4">
                    <strong>Onorariile orare</strong>
                    se aplica proiectelor care pot fi cuantificate ca intindere si timp
                </p>
            </div>
            <div>
                <p class="fs-4 justified-text">
                    <strong>Onorarii fixe (forfetare)</strong>
                    se percep clientilor care doresc realizarea unui proiect unic, dificil de cuantificat ca durata si
                    complexitate.
                </p>
            </div>
            <div>
                <p class="fs-4 justified-text">
                    <strong>Onorarii de succes</strong>
                    prin care partile convin asupra unui onorariu care sa indeplineasca conditia proportionalitatii in
                    raport de natura si complexitatea cauzei in care se acorda asistenta juridica, la care se adauga
                    onorariul de succes cu titlu complementar raportat la atingerea de catre avocat a unui anumit
                    rezultat. Acest onorariu de succes va fi stabilit ca o suma fixa, achitarea lui putandu-se face si
                    esalonat.
                </p>
            </div>
        </div>
        <div class="rounded" id="servicii-line"></div>
        <div class="row mb-0" id="despre-noi-paragraph-3">
            <h2 class="mt-3 fs-3 mb-3 shadow-sm">ONORARII FORMATE DIN COMBINAREA CRITERIILOR DE MAI SUS</h2>
            <div>
                <p class="fs-4 justified-text">
                    <strong>Onorariu de tip abonament</strong>
                    constituie o forma de colaborare profitabila ambelor parti, permitand o planificare a cheltuielilor
                    clientului si creand premisele unei relatii de adevarat parteneriat intre client si cabinet. In
                    cadrul unei asftel de colaborari, avocatii nostri presteaza lunar un anumit numar de ore de
                    consultanta juridica.
                </p>
            </div>
        </div>

    </div>

    </div>

    <!-- WhatsApp Button -->
    <a href="https://wa.me/+407" class="btn btn-success btn-floating position-fixed bottom-0 end-0 m-5 rounded-circle"
        target="_blank" aria-label="Chat with us on WhatsApp">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" width="60"
            height="60">
    </a>

    <!-- buton contact -->
    <div class="container d-flex justify-content-center align-items-center call-conta">
        <div class="col-12 d-flex justify-content-center align-items-center" id="call-button">
            <a href="tel: #">ASISTENTA JURIDICA DE URGENTA - 24/7</a>
        </div>
    </div>

    <!-- tablet/desktop footer -->
    <div class="container d-none d-md-block">
        <footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-12 d-flex justify-content-between text-center" id="text-footer">
                <div>
                    CABINET DE AVOCAT UTIU DAN © 2024
                </div>
                <div>
                    TOATE DREPTURILE REZERVATE
                </div>
                <div>
                    <a href="http://elevatewebdynamics.com" target="_blank">
                        DEVELOPED BY ELEVATE WEB DYNAMICS © 2024
                    </a>
                </div>
            </div>
    </div>

    <!-- mobile footer -->
    <div class="container d-block d-md-none">
        <footer class="d-flex align-items-center py-3 my-4 border-top">
            <div class="col-12 d-flex justify-content-center" id="text-footer">
                CABINET DE AVOCAT UTIU DAN © 2024
            </div>
        </footer>
    </div>

    <script src="../public/scripts/index.js"></script>
</body>

</html>