<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Licente si Autorizatii</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/styles/styles.css">
</head>

<body>
    <!-- navbar desktop -->
    <div class="container text-center d-none d-lg-block sticky-top" id="navbar">
        <div class="row align-items-center navbar">
            <div class="col-lg-4 d-flex justify-content-between">
                <a href="../despre_noi.html">DESPRE NOI</a>
                <a href="../news.html">NEWS</a>
                <a href="../pro_bono.html">PRO BONO</a>
            </div>
            <div class="col-lg-4">
                <a href="../index.html">
                    <img src="../../public/Images/logo 1.png" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-4 d-flex justify-content-between">
                <a class="nav-link dropdown-toggle" href="../servicii.html" id="dropdown-menu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SERVICII</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-menu">
                    <a class="dropdown-item" href="../Servicii/avocatPenal.html">Avocat Drept Penal</a>
                    <a class="dropdown-item" href="../Servicii/avocatDivorturi.html">Avocat Divorturi Bucuresti, Avocat
                        Partaj si Custodie Copii</a>
                    <a class="dropdown-item" href="../Servicii/executareSilita.html">Executare Silita, Bancar Leasing,
                        Insolventa</a>
                    <a class="dropdown-item" href="../Servicii/insolventa.html">Insolventa</a>
                    <a class="dropdown-item" href="../Servicii/dreptCivil.html">Drept Civil si Comercial</a>
                    <a class="dropdown-item" href="../Servicii/dreptContraventional.html">Drept Contraventional</a>
                    <a class="dropdown-item" href="../Servicii/dreptulMuncii.html">Dreptul Muncii</a>
                    <a class="dropdown-item" href="../Servicii/licenteAutorizatii.html">Licente si Autorizatii</a>
                    <a class="dropdown-item" href="../Servicii/litigiiExecutare.html">Litigii si Executare Silita</a>
                    <a class="dropdown-item" href="../Servicii/RecuperareProprietati.html">Recuperare Creante si
                        Proprietati</a>
                    <a class="dropdown-item" href="../Servicii/stabilireSediu.html">Stabilire Sediu Social si
                        Virtual</a>
                </div>
                <a href="../onorarii.html">ONORARII</a>
                <a href="../contact.html">CONTACT</a>
            </div>
        </div>
    </div>

    <!-- navbar tableta -->
    <div class="container text-center justify-content-center d-none d-sm-block d-lg-none sticky-top" id="navbar">
        <div class="row navbar align-items-start">
            <div class="col-sm-2">
                <a href="../index.html">
                    <img src="../../public/Images/logo_phone.png" height="70px" width="100px" id="tablet-logo">
                </a>
            </div>
            <div class="col-sm-8">
                <h1 id="h1-tablet">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="../despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="../news.html">NEWS</a></ul>
                <ul><a href="../pro_bono.html">PRO BONO</a></ul>
                <ul><a href="../servicii.html">SERVICII</a></ul>
                <ul><a href="../onorarii.html">ONORARII</a></ul>
                <ul><a href="../contact.html">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-sm-2">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- navbar telefon -->
    <div class="container text-center justify-content-center d-block d-sm-none sticky-top" id="navbar">
        <div class="row navbar align-items-center">
            <div class="col-3">
                <a href="../index.html">
                    <img src="../../public/Images/logo_phone.png" class="img-fluid" id="phone-logo">
                </a>
            </div>
            <div class="col-6">
                <h1 id="h1-phone">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="../despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="../news.html">NEWS</a></ul>
                <ul><a href="../pro_bono.html">PRO BONO</a></ul>
                <ul class="servicii-menu">
                    <a href="#" class="servicii-link">SERVICII</a>
                    <div class="servicii-sub-menu hidden">
                        <a class="dropdown-item" href="../Servicii/avocatPenal.html">Avocat Drept Penal</a>
                        <a class="dropdown-item scrolling" href="../Servicii/avocatDivorturi.html">Avocat Divorturi Bucuresti,
                            Avocat
                            Partaj si Custodie Copii</a>
                        <a class="dropdown-item scrolling" href="../Servicii/executareSilita.html">Executare Silita, Bancar
                            Leasing,
                            Insolventa</a>
                        <a class="dropdown-item" href="../Servicii/insolventa.html">Insolventa</a>
                        <a class="dropdown-item" href="../Servicii/dreptCivil.html">Drept Civil si Comercial</a>
                        <a class="dropdown-item" href="../Servicii/dreptContraventional.html">Drept Contraventional</a>
                        <a class="dropdown-item" href="../Servicii/dreptulMuncii.html">Dreptul Muncii</a>
                        <a class="dropdown-item" href="../Servicii/licenteAutorizatii.html">Licente si Autorizatii</a>
                        <a class="dropdown-item" href="../Servicii/litigiiExecutare.html">Litigii si Executare
                            Silita</a>
                        <a class="dropdown-item scrolling" href="../Servicii/RecuperareProprietati.html">Recuperare Creante si
                            Proprietati</a>
                        <a class="dropdown-item scrolling" href="../Servicii/stabilireSediu.html">Stabilire Sediu Social si
                            Virtual</a>
                    </div>
                </ul>
                <ul><a href="../onorarii.html">ONORARII</a></ul>
                <ul><a href="../contact.html">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-3 phone-ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <script src="../../public/scripts/index.js"></script>
</body>

</html>