<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Efectele juridice ale unui divorţ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../../public/styles/styles.css">
</head>

<body>
    <!-- navbar desktop -->
    <div class="container text-center d-none d-lg-block sticky-top" id="navbar">
        <div class="row align-items-center navbar">
            <div class="col-lg-4 d-flex justify-content-between">
                <a href="../despre_noi.html">DESPRE NOI</a>
                <a href="../news.html">NEWS</a>
                <a href="../pro_bono.html">PRO BONO</a>
            </div>
            <div class="col-lg-4">
                <a href="../index.html">
                    <img src="../../public/Images/logo 1.png" class="img-fluid">
                </a>
            </div>
            <div class="col-lg-4 d-flex justify-content-between">
                <a class="nav-link dropdown-toggle" href="../servicii.html" id="dropdown-menu" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">SERVICII</a>
                <div class="dropdown-menu" aria-labelledby="dropdown-menu">
                    <a class="dropdown-item" href="../Servicii/avocatPenal.html">Avocat Drept Penal</a>
                    <a class="dropdown-item" href="../Servicii/avocatDivorturi.html">Avocat Divorturi Bucuresti, Avocat
                        Partaj si Custodie Copii</a>
                    <a class="dropdown-item" href="../Servicii/executareSilita.html">Executare Silita, Bancar Leasing,
                        Insolventa</a>
                    <a class="dropdown-item" href="../Servicii/insolventa.html">Insolventa</a>
                    <a class="dropdown-item" href="../Servicii/dreptCivil.html">Drept Civil si Comercial</a>
                    <a class="dropdown-item" href="../Servicii/dreptContraventional.html">Drept Contraventional</a>
                    <a class="dropdown-item" href="../Servicii/dreptulMuncii.html">Dreptul Muncii</a>
                    <a class="dropdown-item" href="../Servicii/licenteAutorizatii.html">Licente si Autorizatii</a>
                    <a class="dropdown-item" href="../Servicii/litigiiExecutare.html">Litigii si Executare Silita</a>
                    <a class="dropdown-item" href="../Servicii/RecuperareProprietati.html">Recuperare Creante si
                        Proprietati</a>
                    <a class="dropdown-item" href="../Servicii/stabilireSediu.html">Stabilire Sediu Social si
                        Virtual</a>
                </div>
                <a href="../onorarii.html">ONORARII</a>
                <a href="../contact.html">CONTACT</a>
            </div>
        </div>
    </div>

    <!-- navbar tableta -->
    <div class="container text-center justify-content-center d-none d-sm-block d-lg-none sticky-top" id="navbar">
        <div class="row navbar align-items-start">
            <div class="col-sm-2">
                <a href="../index.html">
                    <img src="../../public/Images/logo_phone.png" height="70px" width="100px" id="tablet-logo">
                </a>
            </div>
            <div class="col-sm-8">
                <h1 id="h1-tablet">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="../despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="../news.html">NEWS</a></ul>
                <ul><a href="../pro_bono.html">PRO BONO</a></ul>
                <ul><a href="../servicii.html">SERVICII</a></ul>
                <ul><a href="../onorarii.html">ONORARII</a></ul>
                <ul><a href="../contact.html">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-sm-2">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <!-- navbar telefon -->
    <div class="container text-center justify-content-center d-block d-sm-none sticky-top" id="navbar">
        <div class="row navbar align-items-center">
            <div class="col-3">
                <a href="../index.html">
                    <img src="../../public/Images/logo_phone.png" class="img-fluid" id="phone-logo">
                </a>
            </div>
            <div class="col-6">
                <h1 id="h1-phone">CABINET DE AVOCAT DAN UTIU</h1>
            </div>
            <div class="off-screen-menu">
                <ul><a href="../despre_noi.html">DESPRE NOI</a></ul>
                <ul><a href="../news.html">NEWS</a></ul>
                <ul><a href="../pro_bono.html">PRO BONO</a></ul>
                <ul class="servicii-menu">
                    <a href="#" class="servicii-link">SERVICII</a>
                    <div class="servicii-sub-menu hidden">
                        <a class="dropdown-item" href="../Servicii/avocatPenal.html">Avocat Drept Penal</a>
                        <a class="dropdown-item scrolling" href="../Servicii/avocatDivorturi.html">Avocat Divorturi
                            Bucuresti,
                            Avocat
                            Partaj si Custodie Copii</a>
                        <a class="dropdown-item scrolling" href="../Servicii/executareSilita.html">Executare Silita,
                            Bancar
                            Leasing,
                            Insolventa</a>
                        <a class="dropdown-item" href="../Servicii/insolventa.html">Insolventa</a>
                        <a class="dropdown-item" href="../Servicii/dreptCivil.html">Drept Civil si Comercial</a>
                        <a class="dropdown-item" href="../Servicii/dreptContraventional.html">Drept Contraventional</a>
                        <a class="dropdown-item" href="../Servicii/dreptulMuncii.html">Dreptul Muncii</a>
                        <a class="dropdown-item" href="../Servicii/licenteAutorizatii.html">Licente si Autorizatii</a>
                        <a class="dropdown-item" href="../Servicii/litigiiExecutare.html">Litigii si Executare
                            Silita</a>
                        <a class="dropdown-item scrolling" href="../Servicii/RecuperareProprietati.html">Recuperare
                            Creante si
                            Proprietati</a>
                        <a class="dropdown-item scrolling" href="../Servicii/stabilireSediu.html">Stabilire Sediu Social
                            si
                            Virtual</a>
                    </div>
                </ul>
                <ul><a href="../onorarii.html">ONORARII</a></ul>
                <ul><a href="../contact.html">CONTACT</a></ul>
            </div>
            <div class="ham-menu col-3 phone-ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            <h3 class="fs-4">
                EFECTELE JURIDICE ALE UNUI DIVORT IN CEEA CE PRIVESTE
            </h3>
            <div class="rounded mb-3" id="servicii-line"></div>
            <h3 class="mt-2 pb-2 fs-4 border-bottom">1. Relatiile personale dintre soti (de exemplu numele de familie)
            </h3>
            <p class="fs-5 ms-3">
                Obligațiile de fidelitate, de coabitare și de asistență se încheie în momentul în care hotărârea
                judecătorească prin care s-a pronunțat divorțul a devenit definitivă.
            </p>
            <p class="fs-5 ms-3">
                Fiecare dintre soți recapătă libertatea de a încheia o nouă căsătorie.
            </p>
            <p class="fs-5 ms-3">
                Ca urmare a divorțului, fiecare dintre soți își pierde dreptul de a utiliza numele soțului său. Cu toate
                acestea, unul dintre soți poate păstra numele de familie al celuilalt soț, fie cu acordul acestuia, fie
                cu
                permisiunea instanței, dacă demonstrează că păstrarea numelui prezintă un anumit interes pentru el
                însuși
                sau pentru copii.
            </p>
            <h3 class="mt-2 pb-2 fs-4 border-bottom">2. Impartirea bunurilor sotilor
            </h3>
            <p class="fs-5 ms-3">
                Divorțul antrenează dizolvarea regimului matrimonial și, dacă este cazul, împărțirea bunurilor.
            </p>
            <p class="fs-5 ms-3">
                Divorțul nu afectează avantajele matrimoniale care intră în vigoare în timpul căsătoriei, nici donațiile
                de bunuri prezente. În schimb, acesta conduce la revocarea de plin drept a avantajelor matrimoniale care
                intră în vigoare la dizolvarea regimului matrimonial, la decesul unuia dintre soți sau a dispozițiilor
                pentru cauză de moarte.
            </p>
            <p class="fs-5 ms-3">
                În cazul divorțului prin consimțământ mutual, acordul soților cu privire la lichidarea intereselor lor
                pecuniare condiționează pronunțarea divorțului. În celelalte forme de divorț, soții pot conveni asupra
                lichidării înainte de pronunțarea divorțului. În acest caz, lichidarea se efectuează ulterior.
            </p>
            <h3 class="mt-2 pb-2 fs-4 border-bottom">3. Copiii minori ai sotilor
            </h3>
            <p class="fs-5 ms-3">
                Divorțul nu implică niciun fel de consecințe specifice asupra normelor care reglementează exercitarea
                autorității părintești. Cu toate acestea, judecătorul poate decide să încredințeze exercitarea
                autorității părintești doar unuia dintre părinți dacă interesul copilului impune acest lucru.
            </p>
            <p class="fs-5 ms-3">
                Fiecare dintre părinți trebuie să continue să contribuie la întreținerea și educarea copilului. Această
                contribuție se manifestă sub forma unei pensii de întreținere plătite de către unul dintre părinți
                celuilalt. este posibil, de asemenea, să ia, în totalitate sau parțial, forma unei acoperiri directe a
                cheltuielilor efectuate în beneficiul copilului. În sfârșit, contribuția poate fi plătită sub forma unui
                drept de utilizare și locativ.
            </p>
        </div>
    </div>

    <!-- WhatsApp Button -->
    <a href="https://wa.me/+407" class="btn btn-success btn-floating position-fixed bottom-0 end-0 m-5 rounded-circle"
        target="_blank" aria-label="Chat with us on WhatsApp">
        <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp" width="60"
            height="60">
    </a>

    <!-- buton contact -->
    <div class="container d-flex justify-content-center align-items-center call-conta">
        <div class="col-12 d-flex justify-content-center align-items-center" id="call-button">
            <a href="tel: #">ASISTENTA JURIDICA DE URGENTA - 24/7</a>
        </div>
    </div>

    <!-- tablet/desktop footer -->
    <div class="container d-none d-md-block">
        <footer class="d-flex justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-12 d-flex justify-content-between text-center" id="text-footer">
                <div>
                    CABINET DE AVOCAT UTIU DAN © 2024
                </div>
                <div>
                    TOATE DREPTURILE REZERVATE
                </div>
                <div>
                    <a href="http://elevatewebdynamics.com" target="_blank">
                        DEVELOPED BY ELEVATE WEB DYNAMICS © 2024
                    </a>
                </div>
            </div>
    </div>

    <!-- mobile footer -->
    <div class="container d-block d-md-none">
        <footer class="d-flex align-items-center py-3 my-4 border-top">
            <div class="col-12 d-flex justify-content-center" id="text-footer">
                CABINET DE AVOCAT UTIU DAN © 2024
            </div>
        </footer>
    </div>

    <script src="../../public/scripts/index.js"></script>
</body>

</html>