body {
    color: #000000;
}

.navbar {
    margin: auto
}

#navbar {
    background-color: white;

}

.full-width-hr {
    position: absolute;
    left: 0;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    margin-top: 0px;
    margin-bottom: 0px;
}

.off-screen-menu {
    background-color: #5cb7f4;
    height: 100%;
    max-width: 45%;
    position: fixed;
    top: 0;
    right: -45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s ease;
}

.off-screen-menu.active {
    right: 0;
    z-index: 2;
}

.off-screen-menu {
    background-color: #5cb7f4;
    height: 100%;
    max-width: 45%;
    position: fixed;
    top: 0;
    right: -45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    transition: .3s ease;
}

.servicii-sub-menu {
    position: absolute;
    right: 75%;
    top: 19%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 3;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
}

.servicii-sub-menu a {
    display: block;
    color: #333333;
    padding: 12px 16px;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
    transition: transform 0.5s linear;
}

.scrolling {
    animation: scroll 10s linear infinite;
    display: inline-block;
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Last item without bottom border */
.servicii-sub-menu a:last-child {
    border-bottom: none;
}

.hidden {
    display: none;
}

.ham-menu {
    width: 60px;
    height: 60px;
    margin-left: auto;
    position: relative;
    vertical-align: middle;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: black;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active {
    z-index: 3;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0%;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.dropdown-menu.show {
    top: 56px;
}

a {
    text-decoration: none;
    color: inherit;
    margin: auto;
}

a:hover {
    text-decoration: none;
}

#tablet-logo {
    float: left;
}

#h1-tablet {
    font-size: 36px;
    font-weight: bold;
}

#h1-phone {
    font-size: 20px;
    font-weight: bold;
}

.phone-ham-menu {
    height: 45px;
    width: 45px;
}

#phone-logo {
    float: left;
}

.overlay-text {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.overlay-text h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    width: 100%;
}

@media screen and (max-width: 991px) {
    .overlay-text h2 {
        font-size: 28px;
    }

    .overlay-text p {
        font-size: 24px;
    }
}

@media screen and (max-width: 576px) {
    .overlay-text h2 {
        font-size: 24px;
    }

    .overlay-text p {
        font-size: 20px;
    }
}

@media screen and (max-width: 380px) {
    .overlay-text h2 {
        font-size: 20px;
    }

    .overlay-text p {
        font-size: 18px;
    }
}

.overlay-text p {
    font-size: 20px;
    margin-top: 25px;
}

.servicii-img {
    transition: filter .3s ease;
}

.servicii-img:hover {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
}

.cabinet-header {
    margin-top: 30px;
    margin-bottom: 30px;
}

.misiunea-para {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bolder;
}

.carousel-indicators li::marker {
    font-size: 0;
}

.carousel-caption {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#news-header {
    float: top;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 26px;
    font-weight: bolder;
    color: #000000;
}

#news-header-tablet {
    float: top;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 20px;
    font-weight: bolder;
    color: #000000;
}

#news-header-mobile {
    float: top;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 16px;
    font-weight: bolder;
    color: #000000;
}

#news-para {
    font-size: 20px;
    color: #000000;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;

}

#news-link {
    font-size: 20px;
    color: #000000;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
}

#news-link a {
    display: inline-block;
    opacity: 0.7;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    animation: slideIn 1s ease-out forwards;
}

@keyframes slideIn {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    50% {
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: scale(1.2);
        font-weight: bolder;
    }
}

@media screen and (max-width: 1024px) {
    #news-header {
        font-size: 24px;
        margin-top: 0;
        margin-bottom: 5%;
    }

    #news-para {
        font-size: 18px;
    }

    #news-link {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    #news-header {
        font-size: 18zpx;
        margin-top: auto;
        margin-bottom: auto;
    }
}

#link-stire1 {
    color: #000000a4;
}

#news-img {
    filter: blur(10px);
}

#call-button {
    margin-top: 3em;
    background: linear-gradient(90deg, #3DA1E3 16%, rgba(33, 121, 179, 0.96) 39%, rgba(18, 110, 171, 0.963) 53%);
    border-radius: 30px;
    text-align: center;
    height: 50px;
    font-size: 26px;
}

#call-button a {
    width: 100%;
}

@media screen and (min-width: 1500px) {
    #news-header {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #news-link {
        margin-top: 6%;
    }
}

@media screen and (min-width: 1201px) {
    #text-footer {
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px) {
    #call-button {
        font-size: 14px;
    }

    #text-footer {
        font-size: 15px;
    }
}

@media screen and (max-width: 991px) {
    #call-button {
        font-size: 22px;
    }

    #text-footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px) {
    #call-button {
        font-size: 19px;
    }

    #text-footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 380px) {
    #call-button {
        font-size: 14px;
    }

    #text-footer {
        font-size: 11px;
    }
}

.link-footer {
    height: 100%;
    width: 100%;
}

#servicii-line {
    height: 5px;
    background: url(../Images/carousel_background.png);
}


#title-serviciu {
    animation: slideInFromLeft 1.5s ease-out;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#servicii-paragraph-1 {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 1.5s;
}

#servicii-paragraph-2 {
    opacity: 0;
    animation: fadeIn 3s forwards;
    animation-delay: 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#insolventa-paragraphs {
    border-radius: 10px;
    overflow: hidden;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

#albastru-1 {
    background-color: #2e70b9;
    border-radius: 10px;
}

#albastru-1:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

#albastru-2 {
    background-color: #0e5aa9;
    border-radius: 10px;
}

#albastru-2:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease
}

#albastru-3 {
    background-color: #164074;
    border-radius: 10px;
}

#albastru-3:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease
}

#albastru-4 {
    background-color: #162e54;
    border-radius: 10px;
}

#albastru-4:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease
}